:root {
  --secondary: #4d4576;
  --primary: #2b255b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #121416;
  color: #aeaeb2;
  overflow-x: hidden;
}

#task-list,
#form {
  width: 900px;
  max-width: 95%;
  border: 1px solid #4b4373;
  margin: 20px auto;
  padding: 5px 0;
  border-radius: 8px;
}

#task-list {
  box-shadow: 0px 5px 70px 2px var(--primary) inset;
}

#task-list h2 {
  text-align: center;
  padding: 10px 0;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

#task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid var(--primary);
}

.bx {
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

#task-list .bx:hover {
  transform: scale(1.2);
}

#task-list li:last-child {
  border-bottom: none;
}

#task-list label {
  flex: 1;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 0;
  height: 100%;
  position: relative;
  transition: 0.2s;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#task-list label:hover {
  box-shadow: 0px 5px 70px 2px var(--primary) inset;
}

#task-list input {
  vertical-align: middle;
  margin: 0 8px;
  cursor: pointer;
}

#task-list input:checked ~ label {
  text-decoration: line-through;
}

#form {
  display: flex;
  margin-top: 35px;
  gap: 5px;
  padding: 0;
  border: none;
}

#input-control-group {
  position: relative;
  flex: 1;
}

#task-title {
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #959597;
  background: inherit;
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

#task-title:focus ~ label,
#task-title:not(:placeholder-shown) ~ label {
  top: 0;
  padding: 0 8px;
  background: #121416;
}

#input-control-group label {
  position: absolute;
  font-size: 14px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}

#add-btn {
  --bgColor: #6c59e3;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--bgColor);
  background: var(--bgColor);
  color: #f3f3f3;
  border-radius: 8px;
  transition: 0.3s;
  height: 40px;
  box-shadow: 0 5px #a89bebe9;
}

#add-btn:active {
  box-shadow: 0 2px #a89bebe9;
  transform: translateY(3px);
}

#add-btn:hover {
  background: rgba(108, 89, 227, 0.6);
}

#toast-list {
  position: absolute;
  right: 0;
  top: 10px;
}

.toast {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 260px;
  padding: 12px 0;
  border-left: 4px solid #d21312;
  background: #f9dddd;
  border-radius: 4px;
  color: var(--secondary);
  animation: slide 2s ease-in-out forwards;
}

.toast .bx {
  font-size: 22px;
}

.toast span {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.count-down {
  position: absolute;
  height: 4px;
  background: #d21312;
  bottom: 0;
  animation: countDown 2s ease backwards;
  animation-delay: 2s;
}

@keyframes slide {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(-10px);
  }
}
@keyframes hide {
  10% {
    transform: translateX(-20px);
  }

  20% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(200%);
  }
}
@keyframes countDown {
  5% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
